.collapsible-panel {
    /*display: none;*/
    background: var(--accentAlpha);
    width: calc(100% - 16px);
    max-height: 0;
    border-radius: var(--radius);
    transition: all 300ms ease-in-out;
    overflow-y: scroll;
}

.collapsible-panel.active {
    /*display: grid;*/
    max-height: 200px;
    transition: all 300ms ease-in-out;
}

.collapsible-panel .select-item {
    padding: 5px 0;
    cursor: pointer;
}

.collapsible-panel .select-item label {
    cursor: pointer;
}

.input-group.focused > i {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
}